/* Menu Css */

#menupic{
    height: 25px;
    width: 50px;
    position: fixed;
    top: 50;
    right: 50;
}

#menupic:hover{
    cursor: pointer;
}

#menuline{
    height: 4px;
    width: 50px;
    background-color: #0076c0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s;
}
#menupic:hover #menuline{
    width: 40px;
}
#menuline::before{
    content: '';
    height: 4px;
    width: 40px;
    background-color: #0076c0;
    position: absolute;
    margin-top: 10px;
    transition: all 0.3s ;
}
#menuline::before{
    content: '';
    height: 4px;
    width: 40px;
    background-color: #0076c0;
    position: absolute;
    margin-top: 10px;
    transition: all 0.3s;
}
#menupic:hover #menuline::before{
    width: 50px;
}
#menuline::after{
    content: '';
    height: 4px;
    width: 40px;
    background-color: #0076c0;
    position: absolute;
    margin-top: -10px;
    transition: all 0.3s;
}
#menupic:hover #menuline::after{
    width: 50px;
}
#mainMenu{
    height: 100vh;
    width: 300px;
    background-color: #fff;
    -webkit-clip-path:polygon(0 0,100% 0,0 100%,0% 100%);
    position: fixed;
    top: 0;
    left: -300px;
    transition: : all 0.5s ease-in-out;
}
#mainMenu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: arial;
    text-align: center;
    position: absolute;
    top: 18%;
    left: 40%;
    transform: translate(-50%, -%50);
}
#mainMenu ul li{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50%;
}
    
#mainMenu ul li:hover{
    cursor: pointer; 
}
#mainMenu ul li a:active,
#mainMenu ul li a:link{
    text-decoration: none;
    color: #000;
}

#mainMenu ul li a:visited,
#mainMenu ul li a:hover{
    text-decoration: none;
    color: #000;
}

.line{
    height: 2px;
    width: 150px;
    background-color: #000;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.3s;
}
#mainMenu ul li:hover .line{
    width: 180px;
}
#menulogo{
    position: absolute;
    top: 10;
    left: 50%;
    transform: translate(-50%);
}
#close{
    position: absolute;
    margin-top: 200%;
    left: 50%;
    transform: translate(-50%);
}
#close:hover{
    cursor: pointer;
}
/* menu css end */